<div class="12u">

    <!-- Copyright -->
        <div id="copyright">
            <ul class="links">
                <li>&copy; {{ copyright }}</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>

</div>
